<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style type="text/css">
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 40px;
  }

  h5 {
    color: white;
    text-align: center;
    padding: 40px;
  }
</style>
<h1>Iniciar Sesión</h1>

<h5>{{message}}</h5>

<div class="format">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      <td>{{form.email.label_tag}}</td>
      <input type="text" placeholder="decide@us.es" name="email" required/>
      <td>{{ form.password.label_tag }}</td>
      <input type="password" placeholder="password" name="password" required/>
      <button>Login</button>
    </form>

    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
      Login with Google
    </a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'social:begin' 'twitter' %}">
      Login with Twitter
    </a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'social:begin' 'twitch' %}">
      Login with Twitch
    </a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">
      Login with Facebook
    </a>
    <br>
    <br>

    <form action="/account/signup/">
      {% csrf_token %}
      <div>
        <input type="submit" value="Registrarse" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
</div>