<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous">
{% block content %}



<td>{{message}}</td>

<form method="post">
{% csrf_token %}

<div>
  <br>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login"  />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<form action="/account/signup/">
{% csrf_token %}
    <div>
        <input type="submit" value="signup"  />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
</form> 


{% endblock %}
  {% if user.is_authenticated %}
    <p>Logged as {{ user.username }}</p>
    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
      Login with Google
    </a>
  {% endif %}
