<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% block content %}
<style type="text/css">
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 40px;
  }

</style>
<h1>Mi cuenta</h1>
<br><br>
<div class="format">
  <div class="form">
    
<div>
<td>{{message}}</td>
<form action="/account/mivotacion">
  {% csrf_token %}
      <div>
          <input type="submit" value = "Acceder" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
  </form> 
</div>

</div>
    <form action="/account/update">
      {% csrf_token %}
      <div>
        <input type="submit" value="Actualizar datos" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
  </div>
</div>

