<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous">


{% block content %}
<div>
<td>{{message}}</td>
<form action="/account/mivotacion">
  {% csrf_token %}
      <div>
          <input type="submit" value = "Acceder" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
  </form> 
</div>

</div>
    <form action="/account/update">

        {% csrf_token %}
        
            <div>
                <input type="submit" value = "Actualizar datos" />
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
        </form> 
{% endblock %}
<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>