<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style type="text/css">
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 40px;
  }

  h5 {
    color: white;
    text-align: center;
    padding: 40px;
  }
</style>
<h1>Registro de usuarios</h1>

<h5>{{message}}</h5>

<div class="format">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      <td>{{ form.username.label_tag }}</td>
      <input type="text" placeholder="decide" name="username" />
      <td>{{form.email.label_tag}}</td>
      <input type="text" placeholder="decide@us.es" name="email" />
      <td>{{ form.password.label_tag }}</td>
      <input type="password" placeholder="password" name="password" />
      <button>Registrarse</button>
    </form>

    <form action="/account/login/">
      {% csrf_token %}
      <div>
        <input type="submit" value="Iniciar sesión" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
</div>


