<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style type="text/css">
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 40px;
  }

  h5 {
    color: white;
    text-align: center;
    padding: 20px;
  }
</style>
<h1>Actualizar datos</h1>

<h5>{{message}}</h5>

<div class="format">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      <td>{{form.email.label_tag}}</td>
      <td>{{form.email}}</td>
      <td>{{ form.password.label_tag }}</td>
      <td>{{form.password}}</td>
      <button>Actualizar</button>
    </form>
    <form class="login-form" action = "/account/profile">
      {% csrf_token %}
      <button>Perfil</button>
    </form>
  </div>
</div>